<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Multiplayer</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="crt-frame">
    <div class="crt-screen">
      <h1 class="pixel-title title-rock">MULTIPLAYER</h1>

      <a href="/pvp_simul" class="menu-btn">SAME DEVICE</a>

      <a href="/" class="menu-btn" style="margin-top: 30px">BACK</a>
    </div>
</body>

</html>
